*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
   height:100%;
}

body{
    background-color: #171923;    
    color: white;
}

#wrapper{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}

header{
    background-color: black;
    width: 100%;
    min-height: 35px;
}

#headWrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
    background-color: black;
}

#LOGO{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.links{
  margin-right: 10px;
}

.topLinks{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Pacifico', cursive;
    margin-left: 50px;
}

#accountLink{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 25px;
    position: relative;
    top: 2px;
}

.signUpDiv {
position: relative;
display: inline-block;
}

.dropdown-signup {
  display: none;
  position: absolute;
  right: 0;
  background-color:  #313442;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  align-items: center;
  border-radius: 5px;
}

.signUpDiv:hover .dropdown-signup {
  display: block;
}


.loginInputs{
  height: 25px;
  width: 125px;
  max-width: 200px;
  background-color: #313442;
  border: none;
  margin-right: 5px;
  color: white;
  border-radius: 20px;
  padding-left: 10px;
}

.loginButton{
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  height: 26px;
  text-decoration: none;
}

#registerButton{
  font-size: 13px;
}

#registrationButton{
  cursor: pointer;
  margin: 10px 0;
  border: none;
  color: white;
  text-decoration: underline;
  background-color: #212431;
  font-size: 30px;
}

#registrationForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registrationLabels{
  font-size: 20px;
  color: white;
  font-family: 'Pacifico', cursive;
  margin: 10px 0;
}

.registrationInputs{
  height: 30px;
  width: 40vw;
  max-width: 1100px;
  background-color: #313442;
  border: none;
  margin-right: 5px;
  color: white;
  border-radius: 20px;
  padding-left: 10px;
}

#forgot{
  display: flex;
  justify-content: center;
  background-color: none;
  color: white;
  margin: 5px 0px 0px 0px;
}

#searchinput {
    text-align: center;
    color: white;
    height: 30px;
    width: 500px;
    background-color: #313442;
    border: none;
}

#searchbutton {
  border: none;
  height: 26px;
  width: 28px;
  position: relative;
  top: 2px;
  right: 30px;
  cursor: pointer;
  background-color: #313442;
  border-radius: 20px;
}

#searchbutton:before {
  font-size: 16px;
  color: #F9F0DA;
}

#searchsymbol{
  color: #F9F0DA;
}

form#search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 40px;
}

content .container{
    background-color: #212431;
    min-height: 95vh;
    color: white;
    position: relative;
    top: 10px;
}

.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video{
  margin: 0 10px 10px 10px;
  margin-bottom: 10px;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px #abc solid;
}

#video{
  width: 70%;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

#homeViews{
  font-size: 15px;
}

#homeAddInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.videoPreview{
  width: 200px;
  height: 110px;
}

.videoButton{
  cursor: pointer;
  border: none;
  color: white;
  background-color: #212431;
}

#videoTitle{
  margin-top: 20px;
  margin-left: 15%;
  color: #4287f5;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#views{
  position: absolute;
  right: 15%;
  margin-top: -1px;
}

#videoAccountbutton{
  margin-left: 15%;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

#videoAccountbutton button i{
  font-size: 20px;
}

#descriptiondiv{
  max-width: 70%;
  margin-left: 15%;
  min-height: 80px;
  background-color:  #313442;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 3px;
  padding: 0px 5px;
}

#buttondiv{
  max-width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

#ratevideo{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ratingButton{
  width: 20px;
  height: 20px;
  color: yellow;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #212431;
}

#commentdiv{
  max-width: 70%;
  margin-left: 15%;
  min-height: 100px;
  margin-top: 15px;
}

#leavecomment{
  margin-left: 20%;
  color: #abc;
}

#leavecommentarea{
  margin-left: 15%;
  height: 70px;
  min-width: 70%;
  max-width: 70%;
  background-color: #313442;
  border: none;
  margin-right: 15%;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#createComment{
  border: none;
  height: 26px;
  cursor: pointer;
  background-color: #313442;
  border-radius: 5px;
  color: white;
  margin: 0 auto;
  display: block;
}

#exactComment{
  min-height: 80px;
  min-width: 100%;
  background-color: #313442;
  border: none;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px #abc solid;
  margin-bottom: 10px;
}

#commenthead{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding-top: 2px;
  border-bottom: 1px white solid;
}

#head2{
  display: flex;
}

#trashButton{
  height: 20px;
  width: 20px;
  border: none;
  background-color: #313442;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}

#commenthead button i{
  background-color: #313442;
}

#commentAccount{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  margin-right: 5px;
}

#commentDate{
  font-size: 15px;
}

#OPISANIE{
  margin-left: 15%;
  display: block;
  margin-top: 20px;
}

.error404{
    margin-bottom: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 600%;
}

.user404{
    margin-bottom: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding-top: 10vh;
    font-size: 500%;
}


footer{
    background-color: black;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;

}

footer #LOGO{
    display: flex;
    justify-content: center;
}

#placeholder{
  width: 100%;
  height: 20px;
}

.social{
    display: flex;
    justify-content: center;
}

#vk{
    color: white;
    font-size: 30px;
    margin: 0 20px;
}

#ban{
  font-size: 400px;
  display: flex;
  justify-content: center;
}

.adminFunctions{
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.adminButton {
  border: none;
  height: 26px;
  cursor: pointer;
  background-color: #000;
  border-radius: 5px;
  color: white;
}

.adminButtons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0;
}

.adminTextarea{
  height: 10%;
  width: 80%;
  max-width: 80%;
  background-color: #313442;
  border: none;
  margin-right: 5px;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
}

.adminRadio{
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.adminGenreRadio{
  margin-top: 20px;
  width: 20px;
  height: 20px;
}

.adminGenreRadioLabel{
  margin-right: 10px;
}

.videomake{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#makeVideoButton{
  margin-top: 10px;
}

#flexes{
  width: 1200px;
  display: flex;
  justify-content: center;
}

#flex_center {
    display: flex;
    justify-content: center;
}

.line_under{
  text-decoration: underline;
}

#about{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

#message{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    color: red;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

.accountname{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 400%;
}

#Creator{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  color: purple;
  text-decoration: none;
  font-size: 200%;
}

#Admin{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: none;
  font-size: 200%;
}

#Mondiator{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  color: green;
  text-decoration: none;
  font-size: 200%;
}

#idNameButton{
  cursor: pointer;
  border: none;
  color: white;
  background-color: #212431;
}

.managingButton{
  cursor: pointer;
  margin: 10px 0;
  border: none;
  color: white;
  background-color: #212431;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}









